extends base

block content
    form(method="POST")
        input(type="text",required,name="username",placeholder="username")
        input(type="email",required,name="email",placeholder="Email")
        input(type="password",required,name="password",placeholder="Password")
        input(type="password",required,name="password1",placeholder="Confirm Password")
        input(type="submit",value="Join")