extends base

block content
    form(method="POST")
        input(type="text",required,name="username",placeholder="username")
        input(type="password",required,name="password",placeholder="Password")
        input(type="submit",value="Login")